body{
    background-color: #495E57;
    font-family: "Lora", serif;
    color: #F5F7F8;
}

.gradient-background {
    background: linear-gradient(300deg, #00bfff, #478f77, #495E57);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

h1{
    font-size: 4rem;
    font-weight: 400;
    text-align:  center;
    color: #F5F7F8;
}

h2{
    font-size: 3rem;
    font-weight: 200;
    text-align:  center;
}

h3{ 
    /* margin-top: 5% ; */
    margin-bottom: 0%;
    text-align: center;
    font-weight: 200;
    font-size: 2rem;
    /* display: inline; */
}

h4{ 
    margin: 0px ;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
    /* display: inline; */
}

a{
    color: #F4CE14;
}

ul{
    margin: 2%;
}

li{
    gap: 5%;
    margin-top: 5%;
    font-family: "Lora", serif;
    margin-bottom: 5%;
    font-weight: 200;

}


/* .container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    height: 800px;
} */
/* MISSION GRID LAYOUT */
.grid-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* height: 100vh; */
    gap: 10px;
}

.grid-picture-item{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center ;
    align-content: center;
    align-items: center;

}

.grid-profile-pic {
    display: flex;
    height: auto;
    width: 50%;
    border: 5px solid #F4CE14;
    border-radius: 5%;
}

.grid-profile-text {  
    text-align: center;
    padding-left:10% ;
    padding-right:10% ;
    margin-bottom: 0%;
}

.grid-flex-box{
    display: flex;
    gap: 5px;
    justify-content: center;
}

.grid-pass-button{
    color: #F4CE14;
    font-weight: 900;
    font-size: 1rem;
    font-family: "Lora", serif;
    text-align: center;
}

.grid-all-button {
    background-color: #F4CE14;
    color: #495E57;
    font-weight: bold;
    font-family: "Lora", serif;
    border-radius: 5px;
    border: none;
    margin-top: 1%;
  }

.grid-intel-text{
    margin-bottom: 5% ;
    text-align: center;
    border: 1px dotted red;
    margin: 0% 10% 0% 10%;
}

/* MISSION GRID LAYOUT */

.index-grid-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60% ;
    height: 100vh;
    gap: 10px;
}

.index-grid-title{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: flex-end;
    gap: 5px;
}
.index-grid-info{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: flex-start;
    gap: 5px;
}

.index-flex-info{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    gap: 5px;
}


.index-flex-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    height: 70vh;
    gap: 5px;
}


.profile-grid-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60% ;
    height: 100vh;
    gap: 10px;    
}

.attr-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    margin-top: 2%;
    gap:2%;
}

.attr-text{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 40%;
    max-width: 500px;
    /* min-width: 500px; */
    display: inline-block;
    border: 1px solid #F4CE14;;
    padding:1rem 1rem;
    margin-top: 1px;
    vertical-align: middle;
    text-align: left;
}



.container h3{
    margin-top: 0%;
    margin-bottom: 0%;
}

.first-page{
    text-align: center;
    margin-top: 20%;
}

.first-page button{
    margin-top: 0.3%;
}


.first-page h3{
    margin-top: 0%;
    margin-bottom: 0.0%;
}

/* Buttons */
.pass-button{
    margin-top: 10%;
    color: #F4CE14;
    font-weight: 900;
    font-size: 1rem;
    font-family: "Lora", serif;
    margin:auto;
    margin-top: 10%;
    display:block;
    position:relative;
    text-align: center;
}

.all-button {
    padding: 10px;
    background-color: #F4CE14;
    color: #45474B;
    font-weight: bold;
    font-family: "Lora", serif;
    border-radius: 5px;
    border: none;
    margin-top: 1%;
    /* align-self: center; */
  }

.accept{
    margin-top: 10%;
    color: #F4CE14;
    font-weight: 900;
    font-size: 1rem;
    /* border-radius: 5px; */
    font-family: "Lora", serif;
    margin:auto;
    margin-top: 10%;
    display:block;
    position:relative;
    text-align: center;
}

/* The person */
.poster{
    margin-bottom: 0% ;
}

.poster-text{
    margin-bottom: 5% ;
    text-align: center;
    padding-left:10% ;
    padding-right:10% ;

}

.profile-pic {
    height: 70%;
    width: 50%;
    display: block;
    margin-left:auto;
    margin-right: auto;
    border: 5px solid #F4CE14;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description{
    margin-left: 10% ;
    margin-right: 10% ;
    border: 1px dotted #F4CE14;
    padding: 0px 10px;
    margin: 0px,1px;
}

/* pics */
.confidential {
    border:0px;
    width: 100%; 
    height: 100%;
    position: relative;
    object-fit: contain;
    top: -10%;
    /* border: 1px solid black; */
}

.hidden {
    display: none;
}

#hidden-sentence {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.container {
    display: grid;

    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

#hidden-sentence {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.word {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.question {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    h1{
        font-size: 3rem;
        font-weight: 400;
        text-align:  center;
    }
    
    h2{
        font-size: 2.5rem;
        font-weight: 200;
        text-align:  center;
    }
    
    .poster-text{
        margin-bottom: 10% ;
        text-align: center;
        padding-left:3% ;
        padding-right:3% ;}
    

    .first-page{
        text-align: center;
        margin-top: 70%;
    }
    
    .attr-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0%;
        gap:2%;
    }

    .attr-text{
        display: flex;
        flex-wrap: wrap;
        height: 200px;
        width: 80%;
        display: inline-block;
        border: 1px solid #F4CE14;;
        padding:1rem 1rem;
        margin-top: 1px;
        vertical-align: middle;
        text-align: left;
    }

    .grid-flex-box{
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
    

    .profile-pic {
        height: auto;
        width: 90%;
        /* display: block; */
        margin-left:auto;
        margin-right: auto;
        /* border: 10px solid #F4CE14; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    .grid-profile-pic {
        display: flex;
        height: auto;
        width: 90%;
        margin-left:auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        border-radius: 5%;
    }
    

    .poster > div > p {
        margin-left: 5% ;
        margin-right: 5% ;
    }

    .parent {
        /* border: 1px solid black; */
        text-align: center;
        margin: 1rem;
    }
    .child {
        height: 100%;
        width: 80%;
        display: inline-block;
        border: 1px solid #F4CE14;
        padding: 1rem 1rem;
        margin-top: 1px;
        vertical-align: middle;
        text-align: left;
        /* font-size: 0.5rem; */
      }

    .confidential {
        border:0px;
        width: 100%; 
        height: 100%;
        position: relative; 
        top: -10%;
        /* border: 1px solid black; */
    }      
    
}